In [9]:
import pandas as pd

#### Step 1: Import libraries and load datasets
users = pd.read_csv(r"C:\Users\Sina\Desktop\CODES\Sources\4(CHATGPT LABELED OF THE COURSE)\8(users).csv")
friendships = pd.read_csv(r"C:\Users\Sina\Desktop\CODES\Sources\4(CHATGPT LABELED OF THE COURSE)\8(friendships).csv")
interactions = pd.read_csv(r"C:\Users\Sina\Desktop\CODES\Sources\4(CHATGPT LABELED OF THE COURSE)\8(interactions).csv")
posts = pd.read_csv(r"C:\Users\Sina\Desktop\CODES\Sources\4(CHATGPT LABELED OF THE COURSE)\8(posts).csv")
## Changing the objects of dates of the datasets to Datetime
interactions['Timestamp']= pd.to_datetime(interactions['Timestamp'])
posts['Timestamp']= pd.to_datetime(posts['Timestamp'])

users

    Username  Age      Gender Ethnicity     Country
0     user_1   26      Female  Hispanic    Fictland
1     user_2   24      Female   African    Fictland
2     user_3   28      Female   African    Fictland
3     user_4   30       Other     Asian    Fictland
4     user_5   24        Male     Asian    Fictland
..       ...  ...         ...       ...         ...
95   user_96   21  Non-Binary     Asian   Distantia
96   user_97   26        Male     Other  Smalltopia
97   user_98   45        Male  Hispanic    Fictland
98   user_99   33  Non-Binary  Hispanic    Fictland
99  user_100   22       Other   African    Globalia

[100 rows x 5 columns]

In [6]:
friendships

    Username   Friend
0    user_48  user_89
1    user_73  user_95
2     user_5  user_91
3    user_11  user_28
4    user_19  user_48
..       ...      ...
382  user_24  user_32
383  user_28  user_98
384  user_77  user_91
385  user_32  user_67
386  user_31  user_89

[387 rows x 2 columns]

In [7]:
interactions

     Username   Post_ID Interaction_Type                   Timestamp
0     user_66  post_381             like  2022-09-22 06:26:07.946897
1     user_41   post_48             like  2022-09-22 08:33:07.946897
2     user_34  post_168            share  2022-09-23 12:00:07.946897
3      user_7  post_395             like  2022-09-23 12:07:07.946897
4     user_55  post_169            share  2022-09-23 12:59:07.946897
...       ...       ...              ...                         ...
1495  user_31  post_479          comment  2023-09-21 19:08:07.946897
1496  user_73  post_363             like  2023-09-21 20:20:07.946897
1497  user_94   post_94          comment  2023-09-21 20:25:07.946897
1498  user_30  post_216            share  2023-09-22 07:55:07.946897
1499  user_84  post_169          comment  2023-09-22 08:01:07.946897

[1500 rows x 4 columns]

In [8]:
posts

      Post_ID Username               Post_Content                   Timestamp
0      post_1  user_48           Had a great day!  2022-09-21 09:06:07.946897
1      post_2  user_93         I love my friends.  2022-09-23 09:06:07.946897
2      post_3  user_48         I love my friends.  2022-09-23 09:06:07.946897
3      post_4  user_44     This place is amazing!  2022-09-24 09:06:07.946897
4      post_5   user_4         I love my friends.  2022-09-24 09:06:07.946897
..        ...      ...                        ...                         ...
495  post_496  user_91          Just another day.  2023-09-20 09:06:07.946897
496  post_497  user_24          Just another day.  2023-09-20 09:06:07.946897
497  post_498  user_83     This place is amazing!  2023-09-21 09:06:07.946897
498  post_499  user_78          Just another day.  2023-09-21 09:06:07.946897
499  post_500  user_70  Feeling a bit down today.  2023-09-21 09:06:07.946897

[500 rows x 4 columns]

In [21]:
#### Step 2: Merge interactions with posts

interactions_posts = interactions.merge(posts, on='Post_ID', how='left')
#### Step 3: Rename columns to avoid confusion
interactions_posts = interactions_posts.rename(columns={
    'Username_x': 'Interacting_Username',   # from interactions dataset
    'Username_y': 'Post_Author',            # from posts dataset
    'Timestamp_x': 'Interaction_Timestamp',
    'Timestamp_y': 'Post_Timestamp'
})
interactions_posts

,Interacting_Username,Post_ID,Interaction_Type,Interaction_Timestamp,Post_Author,Post_Content,Post_Timestamp
0,user_66,post_381,like,2022-09-22 06:26:07.946897,user_83,Just another day.,2023-06-21 09:06:07.946897
1,user_41,post_48,like,2022-09-22 08:33:07.946897,user_32,I love my friends.,2022-10-26 09:06:07.946897
2,user_34,post_168,share,2022-09-23 12:00:07.946897,user_77,This place is amazing!,2023-01-09 09:06:07.946897
3,user_7,post_395,like,2022-09-23 12:07:07.946897,user_85,Could be better.,2023-07-03 09:06:07.946897
4,user_55,post_169,share,2022-09-23 12:59:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897
...,...,...,...,...,...,...,...
1495,user_31,post_479,comment,2023-09-21 19:08:07.946897,user_100,Just another day.,2023-09-07 09:06:07.946897
1496,user_73,post_363,like,2023-09-21 20:20:07.946897,user_10,Could be better.,2023-06-06 09:06:07.946897
1497,user_94,post_94,comment,2023-09-21 20:25:07.946897,user_41,Feeling blessed.,2022-11-25 09:06:07.946897
1498,user_30,post_216,share,2023-09-22 07:55:07.946897,user_33,Had a great day!,2023-02-25 09:06:07.946897
1499,user_84,post_169,comment,2023-09-22 08:01:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897

In [23]:
#### Step 4: Add demographic info for the interacting user
interactions_full = interactions_posts.merge(users, left_on='Interacting_Username', right_on='Username', how='left')
interactions_full

,Interacting_Username,Post_ID,Interaction_Type,Interaction_Timestamp,Post_Author,Post_Content,Post_Timestamp,Username,Age,Gender,Ethnicity,Country
0,user_66,post_381,like,2022-09-22 06:26:07.946897,user_83,Just another day.,2023-06-21 09:06:07.946897,user_66,16,Male,Hispanic,Distantia
1,user_41,post_48,like,2022-09-22 08:33:07.946897,user_32,I love my friends.,2022-10-26 09:06:07.946897,user_41,30,Other,African,Fictland
2,user_34,post_168,share,2022-09-23 12:00:07.946897,user_77,This place is amazing!,2023-01-09 09:06:07.946897,user_34,27,Female,Asian,Fictland
3,user_7,post_395,like,2022-09-23 12:07:07.946897,user_85,Could be better.,2023-07-03 09:06:07.946897,user_7,24,Non-Binary,Other,Fictland
4,user_55,post_169,share,2022-09-23 12:59:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_55,23,Male,African,Fictland
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,user_31,post_479,comment,2023-09-21 19:08:07.946897,user_100,Just another day.,2023-09-07 09:06:07.946897,user_31,28,Non-Binary,Asian,Fictland
1496,user_73,post_363,like,2023-09-21 20:20:07.946897,user_10,Could be better.,2023-06-06 09:06:07.946897,user_73,49,Non-Binary,Caucasian,Neighboria
1497,user_94,post_94,comment,2023-09-21 20:25:07.946897,user_41,Feeling blessed.,2022-11-25 09:06:07.946897,user_94,43,Other,Hispanic,Smalltopia
1498,user_30,post_216,share,2023-09-22 07:55:07.946897,user_33,Had a great day!,2023-02-25 09:06:07.946897,user_30,27,Other,Caucasian,Fictland
1499,user_84,post_169,comment,2023-09-22 08:01:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_84,49,Non-Binary,Caucasian,Neighboria

In [24]:
#### Step 5 (Optional): Add demographic info for the post author too
interactions_full = interactions_full.merge(
    users,
    left_on='Post_Author',
    right_on='Username',
    how='left',
    suffixes=('_Interactor', '_Author')
)

In [25]:
interactions_full

,Interacting_Username,Post_ID,Interaction_Type,Interaction_Timestamp,Post_Author,Post_Content,Post_Timestamp,Username_Interactor,Age_Interactor,Gender_Interactor,Ethnicity_Interactor,Country_Interactor,Username_Author,Age_Author,Gender_Author,Ethnicity_Author,Country_Author
0,user_66,post_381,like,2022-09-22 06:26:07.946897,user_83,Just another day.,2023-06-21 09:06:07.946897,user_66,16,Male,Hispanic,Distantia,user_83,32,Female,Caucasian,Neighboria
1,user_41,post_48,like,2022-09-22 08:33:07.946897,user_32,I love my friends.,2022-10-26 09:06:07.946897,user_41,30,Other,African,Fictland,user_32,19,Non-Binary,Other,Fictland
2,user_34,post_168,share,2022-09-23 12:00:07.946897,user_77,This place is amazing!,2023-01-09 09:06:07.946897,user_34,27,Female,Asian,Fictland,user_77,40,Other,Caucasian,Neighboria
3,user_7,post_395,like,2022-09-23 12:07:07.946897,user_85,Could be better.,2023-07-03 09:06:07.946897,user_7,24,Non-Binary,Other,Fictland,user_85,49,Male,Caucasian,Distantia
4,user_55,post_169,share,2022-09-23 12:59:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_55,23,Male,African,Fictland,user_22,18,Non-Binary,Hispanic,Fictland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,user_31,post_479,comment,2023-09-21 19:08:07.946897,user_100,Just another day.,2023-09-07 09:06:07.946897,user_31,28,Non-Binary,Asian,Fictland,user_100,22,Other,African,Globalia
1496,user_73,post_363,like,2023-09-21 20:20:07.946897,user_10,Could be better.,2023-06-06 09:06:07.946897,user_73,49,Non-Binary,Caucasian,Neighboria,user_10,27,Non-Binary,Other,Fictland
1497,user_94,post_94,comment,2023-09-21 20:25:07.946897,user_41,Feeling blessed.,2022-11-25 09:06:07.946897,user_94,43,Other,Hispanic,Smalltopia,user_41,30,Other,African,Fictland
1498,user_30,post_216,share,2023-09-22 07:55:07.946897,user_33,Had a great day!,2023-02-25 09:06:07.946897,user_30,27,Other,Caucasian,Fictland,user_33,29,Female,Caucasian,Fictland
1499,user_84,post_169,comment,2023-09-22 08:01:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_84,49,Non-Binary,Caucasian,Neighboria,user_22,18,Non-Binary,Hispanic,Fictland

In [26]:
#### Step 6 (Optional): Add friendship data
# Add a column to flag if interaction is with a friend
friendships['is_friend'] = 1

# Merge to check if interacting user is a friend of the post author
interactions_full = interactions_full.merge(
    friendships,
    left_on=['Interacting_Username', 'Post_Author'],
    right_on=['Username', 'Friend'],
    how='left'
)

# Replace NaN with 0 (means not a friend)
interactions_full['is_friend'] = interactions_full['is_friend'].fillna(0).astype(int)

In [27]:
interactions_full

,Interacting_Username,Post_ID,Interaction_Type,Interaction_Timestamp,Post_Author,Post_Content,Post_Timestamp,Username_Interactor,Age_Interactor,Gender_Interactor,Ethnicity_Interactor,Country_Interactor,Username_Author,Age_Author,Gender_Author,Ethnicity_Author,Country_Author,Username,Friend,is_friend
0,user_66,post_381,like,2022-09-22 06:26:07.946897,user_83,Just another day.,2023-06-21 09:06:07.946897,user_66,16,Male,Hispanic,Distantia,user_83,32,Female,Caucasian,Neighboria,NaN,NaN,0
1,user_41,post_48,like,2022-09-22 08:33:07.946897,user_32,I love my friends.,2022-10-26 09:06:07.946897,user_41,30,Other,African,Fictland,user_32,19,Non-Binary,Other,Fictland,NaN,NaN,0
2,user_34,post_168,share,2022-09-23 12:00:07.946897,user_77,This place is amazing!,2023-01-09 09:06:07.946897,user_34,27,Female,Asian,Fictland,user_77,40,Other,Caucasian,Neighboria,NaN,NaN,0
3,user_7,post_395,like,2022-09-23 12:07:07.946897,user_85,Could be better.,2023-07-03 09:06:07.946897,user_7,24,Non-Binary,Other,Fictland,user_85,49,Male,Caucasian,Distantia,NaN,NaN,0
4,user_55,post_169,share,2022-09-23 12:59:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_55,23,Male,African,Fictland,user_22,18,Non-Binary,Hispanic,Fictland,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,user_31,post_479,comment,2023-09-21 19:08:07.946897,user_100,Just another day.,2023-09-07 09:06:07.946897,user_31,28,Non-Binary,Asian,Fictland,user_100,22,Other,African,Globalia,NaN,NaN,0
1496,user_73,post_363,like,2023-09-21 20:20:07.946897,user_10,Could be better.,2023-06-06 09:06:07.946897,user_73,49,Non-Binary,Caucasian,Neighboria,user_10,27,Non-Binary,Other,Fictland,NaN,NaN,0
1497,user_94,post_94,comment,2023-09-21 20:25:07.946897,user_41,Feeling blessed.,2022-11-25 09:06:07.946897,user_94,43,Other,Hispanic,Smalltopia,user_41,30,Other,African,Fictland,NaN,NaN,0
1498,user_30,post_216,share,2023-09-22 07:55:07.946897,user_33,Had a great day!,2023-02-25 09:06:07.946897,user_30,27,Other,Caucasian,Fictland,user_33,29,Female,Caucasian,Fictland,user_30,user_33,1
1499,user_84,post_169,comment,2023-09-22 08:01:07.946897,user_22,I love my friends.,2023-01-10 09:06:07.946897,user_84,49,Non-Binary,Caucasian,Neighboria,user_22,18,Non-Binary,Hispanic,Fictland,NaN,NaN,0

In [29]:
#### Step 7: Prepare Interaction_Timestamp column
interactions_full['Interaction_Timestamp'] = pd.to_datetime(interactions_full['Interaction_Timestamp'])

In [30]:
#### Step 8: Define Monetary values for Interaction Types
interaction_values = {
    'like': 1,
    'comment': 2,
    'share': 3
}

# Map the Interaction_Type to numeric scores
interactions_full['Monetary_Value'] = interactions_full['Interaction_Type'].map(interaction_values)

In [31]:
#### Step 9: Find the most recent interaction date in the dataset
max_date = interactions_full['Interaction_Timestamp'].max()
print("Latest interaction date in dataset:", max_date)

Latest interaction date in dataset: 2023-09-22 08:01:07.946897

In [32]:
#### Step 10: Calculate R, F, M values per user

"""Group by the interacting user and calculate:

    Recency: Days since last interaction (relative to max date)

    Frequency: Number of interactions

    Monetary: Sum of weighted interaction values """

rfm = interactions_full.groupby('Interacting_Username').agg(
    Recency = ('Interaction_Timestamp', lambda x: (max_date - x.max()).days),
    Frequency = ('Interaction_Type', 'count'),
    Monetary = ('Monetary_Value', 'sum')
).reset_index()

In [34]:
rfm

   Interacting_Username  Recency  Frequency  Monetary
0                user_1       48         20        41
1               user_10        9         17        30
2              user_100      160          8        16
3               user_11       43         16        29
4               user_12       35         17        36
..                  ...      ...        ...       ...
95              user_95       14         10        23
96              user_96        7         16        34
97              user_97       35         16        34
98              user_98       52         13        27
99              user_99       13         13        27

[100 rows x 4 columns]

In [36]:
# Create quartile-based scores (1-4) for each RFM metric
rfm['R_Quartile'] = pd.qcut(rfm['Recency'], 4, labels=[4,3,2,1])  # Lower Recency is better, so reversed
rfm['F_Quartile'] = pd.qcut(rfm['Frequency'], 4, labels=[1,2,3,4])
rfm['M_Quartile'] = pd.qcut(rfm['Monetary'], 4, labels=[1,2,3,4])

# Combine quartiles to create an overall RFM score
rfm['RFM_Score'] = rfm['R_Quartile'].astype(str) + rfm['F_Quartile'].astype(str) + rfm['M_Quartile'].astype(str)

rfm

,Interacting_Username,Recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFM_Score
0,user_1,48,20,41,1,4,4,144
1,user_10,9,17,30,3,3,2,332
2,user_100,160,8,16,1,1,1,111
3,user_11,43,16,29,1,3,2,132
4,user_12,35,17,36,1,3,4,134
...,...,...,...,...,...,...,...,...
95,user_95,14,10,23,2,1,1,211
96,user_96,7,16,34,3,3,3,333
97,user_97,35,16,34,1,3,3,133
98,user_98,52,13,27,1,2,2,122
99,user_99,13,13,27,3,2,2,322

In [40]:
# Assuming rfm dataframe and interactions_full dataframe exist
# interactions_full contains demographic info (like Age_Interactor)

# Step 1: Convert RFM_Score to numeric for easier sorting (optional)
rfm['RFM_Score_Num'] = rfm['RFM_Score'].astype(int)

# Step 2: Define RFM groups (you can tweak thresholds as needed)
# For simplicity, let's say:
# Highest = top 25% by RFM_Score_Num
# Middle = middle 50%
# Lowest = bottom 25%

quantiles = rfm['RFM_Score_Num'].quantile([0.25, 0.75])
low_thresh = quantiles[0.25]
high_thresh = quantiles[0.75]

def rfm_group(score):
    if score <= low_thresh:
        return 'Low'
    elif score >= high_thresh:
        return 'High'
    else:
        return 'Middle'

rfm['RFM_Group'] = rfm['RFM_Score_Num'].apply(rfm_group)

# Step 3: Merge rfm with demographic info (age)
# Extract user age from interactions_full (unique users only)
user_ages = interactions_full[['Interacting_Username', 'Age_Interactor']].drop_duplicates()

rfm_age = rfm.merge(user_ages, left_on='Interacting_Username', right_on='Interacting_Username', how='left')

# Step 4: Calculate age statistics per group
age_stats = rfm_age.groupby('RFM_Group')['Age_Interactor'].agg(['mean', 'median', 'min', 'max', 'count'])

print(age_stats)

                mean  median  min  max  count
RFM_Group
High       30.666667    27.0   15   49     27
Low        26.068966    25.0   18   49     29
Middle     26.340909    24.0   15   50     44